@media only screen and (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
    .container-2 {
        max-width: 90%;
    }
    hr {
        width: 6%;
    }
    .jumbotron h1 {
        font-size: 32px;
    }
    .jumbotron p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 428px) {
    .container-2 {
        max-width: 80%;
    }
    hr {
        width: 12%;
    }
    .jumbotron {
        text-align: center;
    }
    .jumbotron h1 {
        font-size: 24px;
    }
    .jumbotron p {
        font-size: 14px;
        text-align: justify;
        width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }
    .home-img img {
        width: 15rem;
        margin-top: -1.5rem;
        margin-bottom: 1.5rem;
    }
    .col {
        flex-basis: auto;
    }
    .skill h4 {
        margin-top: -2.5rem;
        margin-left: 2rem;
    }
    .skill p {
        font-size: 0.875rem;
        margin-left: 2rem;
    }
    .skill-icon {
        margin-top: 1rem;
    }
}
