html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    font-family: Poppins,Helvetica,sans-serif;
}

.container {
    max-width: 1300px;
}

.container-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

hr {
    display: inline-block;
    width: 3%;
    height: 0px;
    border: none;
    border-top: 0.2rem solid #dc143c;
    border-radius: 3.125rem;;
    margin-top: -1rem;
}

/* Navbar Start */

.navbar-dark .navbar-nav .nav-link {
    color: #888;
    font-family: 'Poppins';
    font-weight: 500;
    transition-duration: 0.8s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .navbar-toggler-icon {
    background-image: url(img/hamburger.png);
    width: 30px;
    height: 30px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent; 
}

/* Navbar End */

/* Home Start */

.jumbotron {
    background-color: #212121;
    color: #fff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

.jumbotron h4 {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 0.2rem;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-size: 14px;
    color: #d5d5d5;
}

.btn-cv {
    background-color: #212121;
    color: #fff;
    border: 2px solid #dc143c;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.7s;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.btn-cv:hover {
    background-color: #dc143c;
}

.btn-contact {
    background-color: #212121;
    color: #fff;
    border: 2px solid #d5d5d5;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.7s;
}

.btn-contact:hover {
    background-color: #d5d5d5;
    color: #000;
}

.home-img {
    text-align: center;
}

/* Home End */

/* Skill Start */

.skill {
    color: #fff;
}

.skill h1 {
    font-size: 24px;
    font-weight: 600;
}

.skill h4 {
    font-size: 18px;
    font-weight: 500;
}

.skill p {
    font-size: 13px;
    color: #d5d5d5;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
}

.skill-icon {
    margin-top: -6rem;
    margin-left: 2.5rem;
}

/* Skill End */

/* Portfolio Start */

.portfolio {
    color: #fff;
}

.portfolio h1 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 50px;
}

.container-port {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
    padding: 15px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.container-port img {
    width: 100%;
    display: block;
    transition: all 100ms ease-out;
}

.container-port img:hover {
    transform: scale(1.04);
}

/* Portfolio End */