html {
    scroll-behavior: smooth;
}

body {
    background-color: #212121;
    font-family: Poppins,Helvetica,sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1300px;
}

.container-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-3 {
    max-width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
}

.title::after {
    content: '';
    border-bottom: 0.2rem solid #dc143c;
    width: 2.5rem;
    display: block;
    margin: 0.313rem 0;
    left: 0;
}

/* Navbar Start */

.navbar-dark .navbar-nav .nav-link {
    color: #888;
    font-family: 'Poppins';
    font-weight: 500;
    transition-duration: 0.8s;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url(img/hamburger.png);
    width: 30px;
    height: 30px;
}

.navbar-dark .navbar-toggler {
    border-color: transparent; 
}

span.hire {
    background-color: #dc143c;
    color: #fff;
    border: 2px solid #dc143c;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.8s;
}

span.hire:hover {
    background-color: #212121;
}

/* Navbar End */

/* Home Start */

.jumbotron {
    background-color: #212121;
    color: #fff;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.row-home {
    display: flex;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    align-items: center;
}

.jumbotron h4 {
    font-size: 18px;
    color: #aaa;
    margin-bottom: 0.2rem;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.jumbotron p {
    font-size: 14px;
    color: #d5d5d5;
}

.btn-cv {
    background-color: #212121;
    color: #fff;
    border: 2px solid #dc143c;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.7s;
    margin-top: 1rem;
    margin-right: 0.3rem;
}

.btn-cv:hover {
    background-color: #dc143c;
}

.btn-contact {
    background-color: #212121;
    color: #fff;
    border: 2px solid #d5d5d5;
    border-radius: 3.125rem;
    padding: 5px 20px;
    transition-duration: 0.7s;
}

.btn-contact:hover {
    background-color: #d5d5d5;
    color: #000;
}

.home-img {
    text-align: center;
}

/* Home End */

/* Skill Start */

.skill {
    color: #fff;
}

.skill h1 {
    margin-bottom: 2rem;
}

.skill h4 {
    font-size: 18px;
    font-weight: 500;
}

.skill p {
    font-size: 13px;
    color: #d5d5d5;
    margin-bottom: 2rem;
    margin-right: 2.5rem;
}

/* Skill End */

/* Experience Start */

.experience {
    color: #fff;
}

.experience h1 {
    margin-top: 4rem;
}

.resume-box ul {
    margin: 0;
    padding: 30px 20px;
    list-style: none;
}

.resume-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 30px;
}

.resume-box li:last-child {
    margin-bottom: 0;
}

.icon {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #212121;
    color: #888;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    border: 1px dashed;
    border-radius: 50%;
}

.time {
    border: 2px solid #dc143c;
    color: #d5d5d5;
    font-size: 12px;
    padding: 2px 10px;
    display: inline-block;
    margin-bottom: 12px;
    border-radius: 20px;
    font-weight: 500;
}

.resume-box h5 {
    font-weight: 700;
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.resume-box p {
    color: #d5d5d5;
    font-size: 14px;
    margin-bottom: 3rem;
}

.resume-box li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    border-left: 1px dashed #888;
    bottom: 0;
}

/* Experience End */

/* Skill Start */

.skill-bar h1 {
    margin-top: 2rem;
}

.skill-bar-box ul {
    margin: 0;
    padding: 30px 20px;
    list-style: none;
}

.skill-bar-box li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 30px;
}

.skill-bar-box li:last-child {
    margin-bottom: 0;
}

.skill-bar h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1em;
    position: relative;
    float: left;
    padding: 0;
    margin-top: 2rem;
}

.skill-bar p {
    font-size: 13px;
    color: #d5d5d5;
    line-height: 1.1em;
    position: relative;
    float: right;
    padding: 0;
    margin-top: 2rem;
}

.progress {
    background-color: #212121;
    color: #dc143c;
    border: 3px solid #444;
    border-radius: 3.125rem;
    height: 0.9rem;
    padding: 0;
}

/* Skill End */

/* Portfolio Start */

.portfolio {
    color: #fff;
}

.portfolio h1 {
    margin-top: 4rem;
    margin-bottom: 1.85rem;
}

.container-port {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 50px;
    padding: 15px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
}

.container-port img {
    width: 100%;
    display: block;
    transition: all 300ms ease-out;
    outline: 5px solid #888;
}

.container-port img:hover {
    transform: scale(1.04);
}

/* Portfolio End */